h1{
	color: rgba(0,200,100,0.2);
	border-color: purple;
	border-width: 5px;
	border-style: solid;
}
li{
	color: green;
}
h4{
	color:purple;
	background: rgb(255,100,80);
}
body{
	background-color: pink;
